/*----------------------------------------------------------------------------------
    Reset
----------------------------------------------------------------------------------*/

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*,*:before,*:after{
    box-sizing: inherit;
}

/*----------------------------------------------------------------------------------
    Base
----------------------------------------------------------------------------------*/

body{
    background-color: rgb(9, 26, 33);
    font-family: 'Averia Serif Libre', sans-serif;
    color: #eca136;
}

a{
    text-decoration: none;
}

/*----------------------------------------------------------------------------------
    Mise en page
----------------------------------------------------------------------------------*/

.wrapper{
    max-width: 1000px;
    margin: 0 auto;
}

/*----------------------------------------------------------------------------------
    Modules
----------------------------------------------------------------------------------*/

/*      Header      */

header{
    width: 1000px;
    background-color: rgba(15, 38, 49, 95%);
    position: fixed;
    left: calc(50% - 500px);
    z-index: 1;
    border-radius: 0 0 20px 20px;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 40px;
    height: 80px;
}